body {
  font-family: 'Times New Roman', serif;
  display: grid;
  justify-items: center;
}

p {
  margin: 0;
  width: max-content;
}

svg {
  filter: invert(92%) sepia(79%) saturate(0%) hue-rotate(75deg) brightness(110%) contrast(94%);
}

.books-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

input:focus, select:focus, .exit-btn:focus {
  outline: 2px solid #8c2b73;
}

button:focus, .submitBook:focus {
  outline: 4px solid #8c2b73;
}

button, .submitBook {
	outline: none;
  border: none;
  border-radius: 5px;
  background: #2B738C;
  color: white;
}

button:hover, .submitBook:hover {
  cursor: pointer;
  opacity: 70%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.newBookBtn {
  margin-bottom: 20px;
  padding: 10px 10px 5px 10px;
}

.readStatusBtn {
  width: 107px;
  padding: 4px 8px;
}

.exit-btn {
	background: none;
  font-family: 'Arial', 'sans-serif';
  padding: 5px;
  font-size: 22px;
  color: white;
  position: fixed;
  top: 0%;
  right: 0%;
  transform: translateY(-100%);
}

.exit-btn:hover {
  cursor: pointer;
}

.deleteBookBtn {
  transform: scale(0.5);
  padding-top: 7px;
  justify-self: center;
}

.book-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f4f2ea;
  padding: 10px;
  border-top: 4px solid #8c442b;
  border-bottom: 4px solid #8c442b;
  border-radius: 5px;
  display: grid;
  max-width: 200px;
}

form {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 20px;
}

form input {
  max-width: 300px;
  margin-bottom: 15px;
}

form select {
  width: max-content;
  margin-bottom: 15px;
  font-family: 'Eczar', serif;
}

input, button {
  font-family: 'Eczar', serif;
}

.modal {
  z-index: 5;
  padding: 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -80%);
  pointer-events: none;
  opacity: 0%;

  transition: top 0.3s, opacity 0.3s;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
}

.modal.show {
  opacity: 100%;
  pointer-events: all;
  top: 50%;
}

.backdrop.show {
  opacity: 40%;
}